<div>
<%= link_to image_tag("tsina32x32.png", :alt=>"Sina weibo login"), auth_from('tsina'), :title=>"用新浪微博帐号登录" %> 
&nbsp;
<%= link_to image_tag("tqq32x32.png", :alt=>"QQ weibo login"), auth_from('tqq'), :title=>"用腾讯微博帐号登录" %>
</div>

