<h3><%=@user.email%> is already taken, sign in to bind!</h3>
<%= form_for(@user, :url => add_account_path(@user)) do |f| %>
  <p><%= f.password_field :password, :placeholder=>"Password" %>
    &nbsp;<%= f.submit "Sign in" %></p>
<% end %>
